<button class="btn btn-primary my-1 mx-2" onclick="my_modal_1.showModal()"><i class="fa-solid fa-plus"></i>Add to list</button>
<dialog id="my_modal_1" class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Game list</h3>
    <div class="py-4">
      <p class="text-2xl mb-1">Status</p>
      <select #statusSelect class="select select-bordered w-full max-w-xs text-xl">
        <option *ngFor="let status of gameStatuses" [value]="status"
                [disabled]="doesUserHaveThisGameInSomeList(status)"
                (click)="setChosenStatus(status)"
        >{{GameStatusToLabelMapping[status]}}</option>
      </select>
      <p class="text-2xl mb-1">Platform</p>
      <select #platformSelect class="select select-bordered w-full max-w-xs text-xl">
        <option *ngFor="let platform of game.platforms" [value]="platform.platform.name" (click)="setChosenPlatform(platform.platform.name)">{{platform.platform.name}}</option>
      </select>
    </div>
    <div class="modal-action">
      <form method="dialog">
        <button class="btn mx-1" #closeModalButton>Close</button>
      </form>
      <button class="btn btn-primary mx-1" (click)="addToList()">Add to list</button>
    </div>
  </div>
</dialog>
