<div class="register-form">
  <div class="w-auto">
    <form [formGroup]="loginForm" (ngSubmit)="login()"
          class="max-w-sm mx-auto font-sans my-auto border text-neutral bg-base-100 border-black rounded-lg p-16">
      <div class="form-input flex flex-col mb-3">
        <label class="text-lg mb-1">Email:</label>
        <input [ngClass]="{'border-red-500': loginForm.controls['email'].touched && loginForm.controls['email'].errors}"
               formControlName="email" type="email" placeholder="Type here" class="input input-bordered"/>
        <div class="text-red-600"
             *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].errors?.['required']">Email is
          required
        </div>
        <div class="text-red-600"
             *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].errors?.['email']">Email must be
          in proper format
        </div>
      </div>
      <div class="form-input flex flex-col mb-3">
        <label class="text-lg mb-1">Password:</label>
        <input
          [ngClass]="{'border-red-500': loginForm.controls['password'].touched && loginForm.controls['password'].errors}"
          formControlName="password" type="password" placeholder="Type here" class="input input-bordered"/>
        <div class="text-red-600"
             *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].errors?.['required']">
          Password is required
        </div>
      </div>
      <div class="buttons flex justify-between">
        <button class="btn btn-base" routerLink="">Cancel</button>
        <button class="btn btn-primary" type='submit' [disabled]="loginForm.invalid">Login</button>
      </div>
    </form>
  </div>


</div>
