<div class="text-black w-full h-full text-xl">
  <form [formGroup]="editForm">
    <div class="flex flex-wrap justify-between lg:flex lg:flex-wrap lg:justify-between">
      <div class="flex flex-col w-full lg:w-auto mb-3">
        <label class="">First Name:</label>
        <input type="text" class="data-input" formControlName="firstName">
        <span class="text-red-600 text-sm pl-1" *ngIf="editForm.controls['firstName'].touched && editForm.controls['firstName'].errors?.['required']">First Name cannot be empty.</span>
      </div>
      <div class="flex flex-col w-full lg:w-auto mb-3">
        <label>Last Name:</label>
        <input type="text" class="data-input" formControlName="lastName">
        <span class="text-red-600 text-sm pl-1" *ngIf="editForm.controls['lastName'].touched && editForm.controls['lastName'].errors?.['required']">Last Name cannot be empty.</span>

      </div>
      <div class="flex flex-col w-full lg:w-auto mb-3">
        <label>Username:</label>
        <input type="text" class="data-input" formControlName="username">
        <span class="text-red-600 text-sm pl-1" *ngIf="editForm.controls['username'].touched && editForm.controls['username'].errors?.['required']">Username cannot be empty.</span>
      </div>
      <div class="flex flex-col w-full lg:w-auto mb-3">
        <label>Location:</label>
        <input type="text" class="data-input" formControlName="location">
        <span class="text-red-600 text-sm pl-1" *ngIf="editForm.controls['location'].touched && editForm.controls['location'].errors?.['required']">Location cannot be empty.</span>
      </div>
    </div>
    <div class="mb-3">
      <label class="text-black text-lg mb-1">Platforms</label>
      <div class="lg:flex lg:flex-col">
        <div *ngFor="let platform of getPlatforms.controls; let i = index"
             class="text-lg mr-5 space-x-0.5 flex items-center">
          <input class="checkbox border-black" id="{{platforms[i].platform}}" type="checkbox"
                 [formControl]="$any(platform)">
          <label for="{{platforms[i].platform}}">{{platforms[i].platform}}</label>
        </div>
        <span class="text-red-600 text-sm pl-1" *ngIf="editForm.controls['platforms'].touched && editForm.controls['platforms'].errors?.['atLeastOneItemSelected']">At least one item must be chosen.</span>
      </div>
    </div>
    <div class="flex flex-col w-full mb-3">
      <label>Description</label>
      <textarea class="resize-none data-input w-full" formControlName="description">
    </textarea>
    </div>
    <div class="flex justify-end">
      <button class="btn btn-primary" (click)="editAccountData()" [disabled]="editForm.invalid">Edit</button>
    </div>
  </form>
</div>
