.navbar {
  border-radius: 0 0 25px 25px;
}

.dropdown {
  display: none;
}

.theme-toggler {
  height: 50px;
}

@media (max-width: 480px) {
  .dropdown{
    display: inline;
  }

  .navigation-items {
    display: none;
  }

  .buttons {
    display: none;
  }

  .navbar-items {
    display: flex;
    justify-content: space-between;
  }
}
