<div data-theme="sonytheme" class="navbar bg-base-primary flex justify-center">
  <div class="w-1/2">
    <div class="flex-1 flex-row">
      <a class="btn btn-ghost text-xl">Game Project</a>
      <div class="inline">
        <button class="btn btn-ghost inline mr-1 ml-1">Home</button>
        <button class="btn btn-ghost inline mr-1 ml-1">News</button>
        <button class="btn btn-ghost inline mr-1 ml-1">Games</button>
      </div>
    </div>
    <div class="flex-none">
      <div class="buttons">
        <button class="btn btn-secondary m-1">Register</button>
        <button class="btn btn-secondary m-1">Log In</button>
      </div>
    </div>
  </div>
</div>
