<div class="login-form h-screen flex items-center justify-center">
  <div class="w-auto">
    <form [formGroup]="resetPasswordForm" autocomplete="off"
          class="max-w-sm mx-auto font-sans my-auto border text-neutral bg-base-100 border-black rounded-lg p-16">
      <div class="form-input flex flex-col mb-3">
        <label class="text-lg mb-1">New password:</label>
        <input [ngClass]="{'border-red-500': resetPasswordForm.controls['newPassword'].touched && resetPasswordForm.controls['newPassword'].errors}"
               formControlName="newPassword" type="password" placeholder="Type here" class="input input-bordered"/>
        <div class="text-red-600 text-sm"
             *ngIf="resetPasswordForm.controls['newPassword'].touched && resetPasswordForm.controls['newPassword'].errors?.['required']">New password is
          required
        </div>
      </div>
      <div class="form-input flex flex-col mb-3">
        <label class="text-lg mb-1">Confirm Password:</label>
        <input
          [ngClass]="{'border-red-500': resetPasswordForm.controls['newPasswordConfirm'].touched && resetPasswordForm.controls['newPasswordConfirm'].errors}"
          formControlName="newPasswordConfirm" type="password" placeholder="Type here" class="input input-bordered"/>
        <div class="text-red-600 text-sm"
             *ngIf="resetPasswordForm.controls['newPasswordConfirm'].touched && resetPasswordForm.controls['newPasswordConfirm'].errors?.['required']">
          New Password confirm is required
        </div>
        <div class="text-red-600 text-sm"
             *ngIf="resetPasswordForm.controls['newPasswordConfirm'].touched && resetPasswordForm.controls['newPasswordConfirm'].errors?.['compare']">
          Confirm Password and Password must match
        </div>
      </div>
      <div class="buttons flex justify-between">
        <button class="btn btn-base" (click)="cancel()">Cancel</button>
        <button class="btn btn-primary" [disabled]="resetPasswordForm.invalid" (click)="resetPassword()">Reset</button>
      </div>
    </form>
  </div>


</div>
