<div class="login-form h-screen flex items-center justify-center">
  <div class="w-auto">
    <form [formGroup]="resetPasswordRequestForm"
          class="max-w-sm mx-auto font-sans my-auto border text-neutral bg-base-100 border-black rounded-lg p-16">
      <div class="form-input flex flex-col mb-3">
        <label class="text-lg mb-1">Input email for restoring your password:</label>
        <input [ngClass]="{'border-red-500': resetPasswordRequestForm.controls['email'].touched && resetPasswordRequestForm.controls['email'].errors}"
               formControlName="email" type="email" placeholder="Type here" class="input input-bordered"/>
        <div class="text-red-600"
             *ngIf="resetPasswordRequestForm.controls['email'].touched && resetPasswordRequestForm.controls['email'].errors?.['required']">Email is
          required
        </div>
        <div class="text-red-600"
             *ngIf="resetPasswordRequestForm.controls['email'].touched && resetPasswordRequestForm.controls['email'].errors?.['email']">Email must be
          in proper format
        </div>
      </div>
      <div class="buttons flex justify-between">
        <button class="btn btn-base" (click)="cancel()">Cancel</button>
        <button class="btn btn-primary" [disabled]="resetPasswordRequestForm.invalid" (click)="sendResetMessage()">Reset</button>
      </div>
    </form>
  </div>
</div>
