<div class="relative w-3/4 top-14  bg-base-100 lg:flex items-start lg:space-x-3 rounded-lg justify-center mx-auto p-5 profile">
  <div class="options w-full lg:w-1/4 lg:h-[700px] mb-5 lg:mb-0">
    <ul class="menu bg-base-200 w-full rounded-box">
      <li><a routerLink="account-data">Data</a></li>
      <li><a routerLink="account-security">Security</a></li>
    </ul>
  </div>
  <div class="w-full lg:w-3/4 bg-[#bec1c7] h-full rounded-2xl p-5">
    <router-outlet></router-outlet>
  </div>
</div>
