<div class="relative w-3/4 top-7 bg-base-100 items-center rounded-lg justify-center mx-auto p-5 profile">
  <div class="hero min-h-screen" style="background-image: url('assets/images/gow-wallpaper.jpg');">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold">Welcome to Game Harbor - Your Ultimate Gaming Hub!</h1>
        <p class="mb-5">Are you a dedicated gamer, constantly exploring the vast and immersive world
          of video games? Look no further! 'Game Harbor' is your go-to platform, designed for
          gaming enthusiasts like you who want to take their gaming experience to the next level.</p>
        <button class="btn btn-primary" routerLink="/auth/register">Get Started</button>
      </div>
    </div>
  </div>
</div>
